
#cadastro > div{
    margin: auto;
    flex-direction: column;
    justify-content: center;

}
input, select{
  width: 100%;
}
h5{
  color: white;
}

.flex-between{
  justify-content: space-between;
  align-items: end;
}

#listagem{
  display: flex;
  flex-direction: column;
  margin: auto;
}
#listagem > form{
  display: flex;
  flex-direction: column;
}
#listagem > form > div{
  margin-top: 20px;
}
.main_tasks > div{
  width: 50%;
}
section{
  background-color: white !important;
  width: 90%;
  border: 1px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: auto;
  margin-top: 30px !important;
  border-radius: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


table{
  margin: auto;
  width: 100%;
  margin-top: 20px;

}

#selects > div{
  width: 30%;
  
}
th{
  width: 15%;
  text-align: center;
  padding: 10px;

}
td{
  text-align: center;
  
}
label{
  margin-top: 5px;
}

#ResponsavelTemplate > div{
  width: 50%;
}

.containerlogo {
    position: relative;
    height: auto;
    width: auto;
    overflow: hidden;
  }

.flex,.flex-between, .flex-start, .flex-center{
    display: flex;
}
#buttonaddresp{
  padding: 0;
  border: 0;
  background-color: rgba(240, 248, 255, 0);
  border-radius: 50px;
}


p{
  margin: 0;
  margin-left: 10px;
}
.flex-start{
  justify-content: start;
  align-items: center;
}
.flex-center,.container{
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

  #Logotipo {
    position: absolute;
    top: 50%; /* Posição inicial vertical da imagem */
    left: 50%; /* Posição horizontal da imagem */
    /* são usados para posicionar a imagem no centro vertical e horizontalmente do contêiner.  */
    transform: translate(-50%, -50%);
    animation: subirDescer 2s infinite alternate ease-in-out;
    /* A propriedade animation é usada para aplicar uma animação chamada "subirDescer" à imagem. O valor 3s define a duração da animação em 3 segundos, infinite indica que a animação será repetida infinitamente e alternate indica que a animação irá alternar entre os estados inicial e final. ease-in-out */
  }
#selectresp{
  margin-right: 30px ;
  width: 100%;
}
  @keyframes subirDescer {
    0% {
      transform: translate(-50%, -50%);
    }
    100% {
      transform: translate(-50%, -50%) translateY(-20px); /* Ajuste o valor da translação vertical de acordo com suas necessidades */
    }
    /* A regra @keyframes chamada "subirDescer" define os dois estados da animação. Em 0%, a imagem está posicionada no centro originalmente (transform: translate(-50%, -50%)). Em 100%, a imagem é deslocada verticalmente em -20 pixels (transform: translate(-50%, -50%) translateY(-20px)). Esses dois estados são interpolados suavemente ao longo da duração da animação, criando o efeito de subida e descida suave da imagem. */
  }
  



