<div id="main_pop_up">
    <div>
        <div class="d-flex justify-content-center align-itens-center">
            <Label>Nome do responsável: </Label>
        </div>
        <div class="d-flex justify-content-center align-itens-center">
            <div>
                <input type="text" #NomeResponsavel>
            </div>

            <div>
                <button class="btn btn-success" (click)="onCancel(NomeResponsavel.value)">Enviar</button>
            </div>
        </div>

    </div>

</div>